:root {
    --primary: #242424;
  }
  
  .btn-ad {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    color: #242424;
  }
  
  .btn-ad--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
    border-radius: 20px;
  }
  
  .btn-ad--outline {
    background: linear-gradient(90deg, #fd297b 0%, #ff5864 50%,  #ff655b 100%);
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
    border-radius: 20px;

  }
  
  .btn-ad--medium {
    padding: 8px 20px;
    font-size: 18px;
  }
  
  .btn-ad--large {
    padding: 12px 26px;
    font-size: 20px;
  }
  
  .btn-ad--large:hover,
  .btn-ad--medium:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    color: #242424;
    transition: 250ms;
  }