.ImgDiv-feed {
    border-radius: 3%;
    width: 400px;
    height: 400px;
    background-size: cover;
    color: black;
    font-family: 'Gotham Rounded', sans-serif;
}

.h1 {
    font-family: 'Gotham Rounded', sans-serif;
}

.h2 {
    font-family: 'Gotham Rounded', sans-serif;
}

.h3 {
    font-family: 'Gotham Rounded', sans-serif;
}

body {
    font-family: Gotham Rounded;
  }
.swipe {
    position: absolute;
}
  

.foot-card {
    margin-left: 3.3rem;
}